<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.study.pojo.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="personName" property="personName" jdbcType="VARCHAR" />
    <result column="idNumber" property="idNumber" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="loginWay" property="loginWay" jdbcType="TINYINT" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <result column="expired" property="expired" jdbcType="TINYINT" />
    <result column="locked" property="locked" jdbcType="TINYINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, personName, password, personName, idNumber, telphone, loginWay, enabled, expired,
    locked, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.study.pojo.User" >
    insert into t_user (id, personName, password,
      personName, idNumber, telphone,
      loginWay, enabled, expired,
      locked, createTime)
    values (#{id,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{personName,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR},
      #{loginWay,jdbcType=TINYINT}, #{enabled,jdbcType=TINYINT}, #{expired,jdbcType=TINYINT},
      #{locked,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.study.pojo.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="personName != null" >
        personName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="personName != null" >
        personName,
      </if>
      <if test="idNumber != null" >
        idNumber,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="loginWay != null" >
        loginWay,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="expired != null" >
        expired,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="loginWay != null" >
        #{loginWay,jdbcType=TINYINT},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="expired != null" >
        #{expired,jdbcType=TINYINT},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.pojo.User" >
    update t_user
    <set >
      <if test="personName != null" >
        personName = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        personName = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        idNumber = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="loginWay != null" >
        loginWay = #{loginWay,jdbcType=TINYINT},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
      <if test="expired != null" >
        expired = #{expired,jdbcType=TINYINT},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.pojo.User" >
    update t_user
    set personName = #{personName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      personName = #{personName,jdbcType=VARCHAR},
      idNumber = #{idNumber,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      loginWay = #{loginWay,jdbcType=TINYINT},
      enabled = #{enabled,jdbcType=TINYINT},
      expired = #{expired,jdbcType=TINYINT},
      locked = #{locked,jdbcType=TINYINT},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 使用用户名删除用户 -->
  <delete id="deleteBypersonName" parameterType="java.lang.String">
        delete from t_user
        where personName = #{personName,jdbcType=VARCHAR}
    </delete>
  <!-- 通过用户名查找用户 -->
  <select id="selectBypersonName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user
    where personName = #{personName,jdbcType=VARCHAR}
  </select>
  <!-- 查询根据属性查找数量 -->
  <select id="selectMaxByAttributes" resultType="java.lang.Long">
    select count(id)
    from t_user
    <where>
      <if test="personName != null">
        and personName like '%${personName}%'
      </if>
      <if test="idNumber != null">
        and idNumber = #{idNumber,jdbcType=VARCHAR}
      </if>
      <if test="enabled != null">
        and enabled = #{enabled,jdbcType=TINYINT}
      </if>
    </where>
  </select>
  <select id="selectByPersonName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from t_user
    <where>
      <if test="personName != null">
        personName = #{personName}
      </if>
    </where>
  </select>
  <!-- 查询根据属性查找信息 -->
  <select id="selectByAttributes" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user
    <where>
      <if test="personName != null">
        and personName like '%${personName}%'
      </if>
      <if test="idNumber != null">
        and idNumber like '%${idNumber}%'
      </if>
      <if test="enabled != null">
        and enabled = #{enabled,jdbcType=TINYINT}
      </if>
    </where>
    <if test="orderProp != null and orderProp.length() > 0">
      order by
      <choose>
        <when test="order != null and order != 'desc' and order != 'asc'">
          ${orderProp} asc
        </when>
        <when test="order == null">
          ${orderProp}
        </when>
        <otherwise>
          ${orderProp} ${order}
        </otherwise>
      </choose>
    </if>
    <if test="orderProp == null or orderProp.length() == 0">
      order by id desc
    </if>
    limit #{pageIndex},#{pageSize}
  </select>
</mapper>
