<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dondown.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.dondown.model.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="idCard" jdbcType="VARCHAR" property="idCard"/>
        <result column="enabled" jdbcType="TINYINT" property="enabled"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="caKey" jdbcType="VARCHAR" property="caKey"/>
        <result column="reserver1" jdbcType="VARCHAR" property="reserver1"/>
        <result column="reserver2" jdbcType="VARCHAR" property="reserver2"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userName, password, name, idCard, enabled, createTime, caKey, reserver1, reserver2
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.dondown.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (id, userName, password,
        name, idCard,
        enabled, createTime, reserver1,
        reserver2)
        values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR},
        #{enabled,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{caKey,jdbcType=VARCHAR},
        #{reserver1,jdbcType=VARCHAR}, #{reserver2,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.dondown.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                userName,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="idCard != null">
                idCard,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="caKey != null">
                caKey,
            </if>
            <if test="reserver1 != null">
                reserver1,
            </if>
            <if test="reserver2 != null">
                reserver2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="caKey != null">
                #{caKey,jdbcType=VARCHAR},
            </if>
            <if test="reserver1 != null">
                #{reserver1,jdbcType=VARCHAR},
            </if>
            <if test="reserver2 != null">
                #{reserver2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dondown.model.User">
        update t_user
        <set>
            <if test="userName != null">
                userName = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                idCard = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="caKey != null">
                caKey = #{caKey,jdbcType=VARCHAR},
            </if>
            <if test="reserver1 != null">
                reserver1 = #{reserver1,jdbcType=VARCHAR},
            </if>
            <if test="reserver2 != null">
                reserver2 = #{reserver2,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dondown.model.User">
        update t_user
        set userName = #{userName,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        idCard = #{idCard,jdbcType=VARCHAR},
        enabled = #{enabled,jdbcType=TINYINT},
        createTime = #{createTime,jdbcType=TIMESTAMP},
        caKey = #{caKey,jdbcType=VARCHAR},
        reserver1 = #{reserver1,jdbcType=VARCHAR},
        reserver2 = #{reserver2,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <!-- 使用用户名删除用户 -->
    <delete id="deleteByUserName" parameterType="java.lang.String">
        delete from t_user
        where userName = #{userName,jdbcType=VARCHAR}
    </delete>
    <!-- 通过用户名查找用户 -->
    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where userName = #{userName,jdbcType=VARCHAR}
    </select>
    <!-- 查询根据属性查找数量 -->
    <select id="selectMaxByAttributes" resultType="java.lang.Long">
        select count(id)
        from t_user
        <where>
            <if test="userName != null">
                and userName like '%${userName}%'
            </if>
            <if test="idCard != null">
                and idCard = #{idCard,jdbcType=VARCHAR}
            </if>
            <if test="enabled != null">
                and enabled = #{enabled,jdbcType=TINYINT}
            </if>
        </where>
    </select>
    <!-- 查询根据属性查找信息 -->
    <select id="selectByAttributes" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <where>
            <if test="userName != null">
                and userName like '%${userName}%'
            </if>
            <if test="idCard != null">
                and idCard like '%${idCard}%'
            </if>
            <if test="enabled != null">
                and enabled = #{enabled,jdbcType=TINYINT}
            </if>
        </where>
        <if test="orderProp != null and orderProp.length() > 0">
            order by
            <choose>
                <when test="order != null and order != 'desc' and order != 'asc'">
                    ${orderProp} asc
                </when>
                <when test="order == null">
                    ${orderProp}
                </when>
                <otherwise>
                    ${orderProp} ${order}
                </otherwise>
            </choose>
        </if>
        <if test="orderProp == null or orderProp.length() == 0">
            order by id desc
        </if>
        limit #{pageIndex},#{pageSize}
    </select>
</mapper>