<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenjun.busines.house.mapper.HouseMapper">
    <resultMap id="BaseResultMap" type="com.wenjun.busines.house.pojo.House">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="userId" property="userId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="floor" property="floor" jdbcType="BIGINT"/>
        <result column="floorTop" property="floorTop" jdbcType="BIGINT"/>
        <result column="starTime" property="starTime" jdbcType="VARCHAR"/>
        <result column="elevator" property="elevator" jdbcType="BIGINT"/>
        <result column="pets" property="pets" jdbcType="BIGINT"/>
        <result column="cook" property="cook" jdbcType="BIGINT"/>
        <result column="machine" property="machine" jdbcType="BIGINT"/>
        <result column="conditioner" property="conditioner" jdbcType="BIGINT"/>
        <result column="heater" property="heater" jdbcType="BIGINT"/>
        <result column="clean" property="clean" jdbcType="BIGINT"/>
        <result column="houseScore" property="houseScore" jdbcType="REAL"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="provinceCode" property="provinceCode" jdbcType="VARCHAR"/>
        <result column="cityStreet" property="cityStreet" jdbcType="VARCHAR"/>
        <result column="cityCode" property="cityCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="BIGINT"/>
        <result column="longitude" property="longitude" jdbcType="VARCHAR"/>
        <result column="latitude" property="latitude" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="reserve1" property="reserve1" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, userId, name, floor, floorTop, starTime, elevator, pets, cook, machine, conditioner,
    heater, clean, houseScore, province, provinceCode, cityStreet, cityCode, status,
    longitude, latitude, create_time, update_time, remark, reserve1
  </sql>
    <sql id="Base_Column_List2">
    b.id, b.userId, b.name, b.floor, b.floorTop, b.starTime, b.elevator, b.pets, b.cook, b.machine, b.conditioner,
    b.heater, b.clean, b.houseScore, b.province, b.provinceCode, b.cityStreet, b.cityCode, b.status,
    b.longitude, b.latitude, b.create_time, b.update_time, b.remark, b.reserve1
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_house
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_house
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.wenjun.busines.house.pojo.House">
    insert into t_house (id, userId, name,
      floor, floorTop, starTime,
      elevator, pets, cook,
      machine, conditioner, heater,
      clean, houseScore, province,
      provinceCode, cityStreet, cityCode,
      status, longitude, latitude,
      create_time, update_time, remark,
      reserve1)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{floor,jdbcType=BIGINT}, #{floorTop,jdbcType=BIGINT}, #{starTime,jdbcType=VARCHAR},
      #{elevator,jdbcType=BIGINT}, #{pets,jdbcType=BIGINT}, #{cook,jdbcType=BIGINT},
      #{machine,jdbcType=BIGINT}, #{conditioner,jdbcType=BIGINT}, #{heater,jdbcType=BIGINT},
      #{clean,jdbcType=BIGINT}, #{houseScore,jdbcType=REAL}, #{province,jdbcType=VARCHAR},
      #{provinceCode,jdbcType=VARCHAR}, #{cityStreet,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR},
      #{status,jdbcType=BIGINT}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR},
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
      #{reserve1,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wenjun.busines.house.pojo.House">
        insert into t_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="floor != null">
                floor,
            </if>
            <if test="floorTop != null">
                floorTop,
            </if>
            <if test="starTime != null">
                starTime,
            </if>
            <if test="elevator != null">
                elevator,
            </if>
            <if test="pets != null">
                pets,
            </if>
            <if test="cook != null">
                cook,
            </if>
            <if test="machine != null">
                machine,
            </if>
            <if test="conditioner != null">
                conditioner,
            </if>
            <if test="heater != null">
                heater,
            </if>
            <if test="clean != null">
                clean,
            </if>
            <if test="houseScore != null">
                houseScore,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="provinceCode != null">
                provinceCode,
            </if>
            <if test="cityStreet != null">
                cityStreet,
            </if>
            <if test="cityCode != null">
                cityCode,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="update_time != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="reserve1 != null">
                reserve1,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="floor != null">
                #{floor,jdbcType=BIGINT},
            </if>
            <if test="floorTop != null">
                #{floorTop,jdbcType=BIGINT},
            </if>
            <if test="starTime != null">
                #{starTime,jdbcType=VARCHAR},
            </if>
            <if test="elevator != null">
                #{elevator,jdbcType=BIGINT},
            </if>
            <if test="pets != null">
                #{pets,jdbcType=BIGINT},
            </if>
            <if test="cook != null">
                #{cook,jdbcType=BIGINT},
            </if>
            <if test="machine != null">
                #{machine,jdbcType=BIGINT},
            </if>
            <if test="conditioner != null">
                #{conditioner,jdbcType=BIGINT},
            </if>
            <if test="heater != null">
                #{heater,jdbcType=BIGINT},
            </if>
            <if test="clean != null">
                #{clean,jdbcType=BIGINT},
            </if>
            <if test="houseScore != null">
                #{houseScore,jdbcType=REAL},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityStreet != null">
                #{cityStreet,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIGINT},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="reserve1 != null">
                #{reserve1,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wenjun.busines.house.pojo.House">
        update t_house
        <set>
            <if test="userId != null">
                userId = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="floor != null">
                floor = #{floor,jdbcType=BIGINT},
            </if>
            <if test="floorTop != null">
                floorTop = #{floorTop,jdbcType=BIGINT},
            </if>
            <if test="starTime != null">
                starTime = #{starTime,jdbcType=VARCHAR},
            </if>
            <if test="elevator != null">
                elevator = #{elevator,jdbcType=BIGINT},
            </if>
            <if test="pets != null">
                pets = #{pets,jdbcType=BIGINT},
            </if>
            <if test="cook != null">
                cook = #{cook,jdbcType=BIGINT},
            </if>
            <if test="machine != null">
                machine = #{machine,jdbcType=BIGINT},
            </if>
            <if test="conditioner != null">
                conditioner = #{conditioner,jdbcType=BIGINT},
            </if>
            <if test="heater != null">
                heater = #{heater,jdbcType=BIGINT},
            </if>
            <if test="clean != null">
                clean = #{clean,jdbcType=BIGINT},
            </if>
            <if test="houseScore != null">
                houseScore = #{houseScore,jdbcType=REAL},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                provinceCode = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityStreet != null">
                cityStreet = #{cityStreet,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                cityCode = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIGINT},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="reserve1 != null">
                reserve1 = #{reserve1,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wenjun.busines.house.pojo.House">
    update t_house
    set userId = #{userId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=BIGINT},
      floorTop = #{floorTop,jdbcType=BIGINT},
      starTime = #{starTime,jdbcType=VARCHAR},
      elevator = #{elevator,jdbcType=BIGINT},
      pets = #{pets,jdbcType=BIGINT},
      cook = #{cook,jdbcType=BIGINT},
      machine = #{machine,jdbcType=BIGINT},
      conditioner = #{conditioner,jdbcType=BIGINT},
      heater = #{heater,jdbcType=BIGINT},
      clean = #{clean,jdbcType=BIGINT},
      houseScore = #{houseScore,jdbcType=REAL},
      province = #{province,jdbcType=VARCHAR},
      provinceCode = #{provinceCode,jdbcType=VARCHAR},
      cityStreet = #{cityStreet,jdbcType=VARCHAR},
      cityCode = #{cityCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIGINT},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      reserve1 = #{reserve1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!-- 根据条件查找总数 -->
    <select id="selectCountByAttributes" resultType="java.lang.Integer">
        select count(*) from (
        select id from (
        select id from t_user
        <where>
            <if test="userName != null and userName != ''">
                and userName like concat('%',#{userName} ,'%')
            </if>
        </where>
        )a
        left join
        select userId from (
        select userId from t_house
        <where>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="floorTop != null">
                and floorTop = #{floorTop}
            </if>
            <if test="starTime != null">
                and starTime = #{starTime}
            </if>
            <if test="elevator != null">
                and elevator = #{elevator}
            </if>
            <if test="pets != null">
                and pets = #{pets}
            </if>
            <if test="cook != null">
                and cook = #{cook}
            </if>
            <if test="machine != null">
                and machine = #{machine}
            </if>
            <if test="conditioner != null">
                and conditioner = #{conditioner}
            </if>
            <if test="heater != null">
                and heater = #{heater}
            </if>
            <if test="clean != null">
                and clean = #{clean}
            </if>
            <if test="houseScore != null">
                and houseScore = #{houseScore}
            </if>
            <if test="province != null">
                and province = #{province}
            </if>
            <if test="cityStreet != null">
                and cityStreet = #{cityStreet}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="starDate != null">
                and starDate >= #{starDate}
            </if>
            <if test="endDate != null">
                and date_format(starDate,'%Y-%m-%d') <![CDATA[ <= ]]> #{endDate}
            </if>
        </where>
        )b
        on a.id = b.userId
        )c
    </select>
    <!-- 根据条件查找信息 -->
    <select id="selectByAttributes" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List2"/>
        from (
        select id from (
        select id from t_user
        <where>
            <if test="userName != null and userName != ''">
                and userName like concat('%',#{userName} ,'%')
            </if>
        </where>
        )a
        left join
        select userId from (
        select userId from t_house
        <where>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="floorTop != null">
                and floorTop = #{floorTop}
            </if>
            <if test="starTime != null">
                and starTime = #{starTime}
            </if>
            <if test="elevator != null">
                and elevator = #{elevator}
            </if>
            <if test="pets != null">
                and pets = #{pets}
            </if>
            <if test="cook != null">
                and cook = #{cook}
            </if>
            <if test="machine != null">
                and machine = #{machine}
            </if>
            <if test="conditioner != null">
                and conditioner = #{conditioner}
            </if>
            <if test="heater != null">
                and heater = #{heater}
            </if>
            <if test="clean != null">
                and clean = #{clean}
            </if>
            <if test="houseScore != null">
                and houseScore = #{houseScore}
            </if>
            <if test="province != null">
                and province = #{province}
            </if>
            <if test="cityStreet != null">
                and cityStreet = #{cityStreet}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="starDate != null">
                and starDate >= #{starDate}
            </if>
            <if test="endDate != null">
                and date_format(starDate,'%Y-%m-%d') <![CDATA[ <= ]]> #{endDate}
            </if>
        </where>
        )b
        on a.id = b.userId
        )c limit #{pageNum},#{pageSize} order by
        <where>
            <if test="orderByColumn != null and orderByColumn != ''">
                #{orderByColumn}
            </if>
            <if test="orderByColumn == null or orderByColumn == ''">
                create_time
            </if>
            <if test="isAsc != null and isAsc != ''">
                #{isAsc}
            </if>
            <if test="isAsc == null and isAsc == ''">
                desc
            </if>
        </where>
    </select>

    <!-- 根据id查找出租屋 -->
    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_house
        where userId = #{userId}
        limit #{pageNum}, #{pageSize}
    </select>
</mapper>
