<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenjun.busines.house.mapper.HouseEnclosureMapper" >
  <resultMap id="BaseResultMap" type="com.wenjun.busines.house.pojo.HouseEnclosure" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="hourseId" property="hourseId" jdbcType="VARCHAR" />
    <result column="fileUrl" property="fileUrl" jdbcType="VARCHAR" />
    <result column="fileName" property="fileName" jdbcType="VARCHAR" />
    <result column="fileSize" property="fileSize" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hourseId, fileUrl, fileName, fileSize
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_house_enclosure
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_house_enclosure
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wenjun.busines.house.pojo.HouseEnclosure" >
    insert into t_house_enclosure (id, hourseId, fileUrl,
      fileName, fileSize)
    values (#{id,jdbcType=VARCHAR}, #{hourseId,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR},
      #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wenjun.busines.house.pojo.HouseEnclosure" >
    insert into t_house_enclosure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hourseId != null" >
        hourseId,
      </if>
      <if test="fileUrl != null" >
        fileUrl,
      </if>
      <if test="fileName != null" >
        fileName,
      </if>
      <if test="fileSize != null" >
        fileSize,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hourseId != null" >
        #{hourseId,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wenjun.busines.house.pojo.HouseEnclosure" >
    update t_house_enclosure
    <set >
      <if test="hourseId != null" >
        hourseId = #{hourseId,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        fileUrl = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        fileName = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        fileSize = #{fileSize,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wenjun.busines.house.pojo.HouseEnclosure" >
    update t_house_enclosure
    set hourseId = #{hourseId,jdbcType=VARCHAR},
      fileUrl = #{fileUrl,jdbcType=VARCHAR},
      fileName = #{fileName,jdbcType=VARCHAR},
      fileSize = #{fileSize,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
