<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenjun.busines.system.mapper.OperateLogMapper">
    <resultMap id="BaseResultMap" type="com.wenjun.busines.system.pojo.OperateLog">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="userId" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="style" jdbcType="VARCHAR" property="style"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="operateTime" jdbcType="TIMESTAMP" property="operateTime"/>
        <result column="operand" jdbcType="VARCHAR" property="operand"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userName, userId, name, module, style, url, description, operateTime, operand,
        result
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_operate_log
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_operate_log
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.wenjun.busines.system.pojo.OperateLog">
        insert into t_operate_log (id, userName, userId,
        name, module, style,
        url, description, operateTime,
        operand, result)
        values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP},
        #{operand,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.wenjun.busines.system.pojo.OperateLog">
        insert into t_operate_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                userName,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="module != null">
                module,
            </if>
            <if test="style != null">
                style,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="operateTime != null">
                operateTime,
            </if>
            <if test="operand != null">
                operand,
            </if>
            <if test="result != null">
                result,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="module != null">
                #{module,jdbcType=VARCHAR},
            </if>
            <if test="style != null">
                #{style,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operand != null">
                #{operand,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                #{result,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wenjun.busines.system.pojo.OperateLog">
        update t_operate_log
        <set>
            <if test="userName != null">
                userName = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="module != null">
                module = #{module,jdbcType=VARCHAR},
            </if>
            <if test="style != null">
                style = #{style,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                operateTime = #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operand != null">
                operand = #{operand,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                result = #{result,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wenjun.busines.system.pojo.OperateLog">
        update t_operate_log
        set userName = #{userName,jdbcType=VARCHAR},
        userId = #{userId,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        module = #{module,jdbcType=VARCHAR},
        style = #{style,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        operateTime = #{operateTime,jdbcType=TIMESTAMP},
        operand = #{operand,jdbcType=VARCHAR},
        result = #{result,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <!-- 查询根据属性查找信息 -->
    <select id="selectByAttributes" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_operate_log
        <where>
            <if test="userId != null">
                and userId = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="userName != null">
                and userName like '%${userName}%'
            </if>
            <if test="module != null">
                and module like '%${module}%'
            </if>
            <if test="style != null">
                and style like '%${style}%'
            </if>
            <if test="beginTime != null and endTime != null">
                and operateTime between #{beginTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        <if test="orderProp != null and orderProp.length() &gt; 0">
            order by
            <choose>
                <when test="order != null and order != 'desc' and order != 'asc'">
                    ${orderProp} asc
                </when>
                <when test="order == null">
                    ${orderProp}
                </when>
                <otherwise>
                    ${orderProp} ${order}
                </otherwise>
            </choose>
        </if>
        <if test="orderProp == null or orderProp.length() == 0">
            order by id desc
        </if>
        limit #{pageIndex},#{pageSize}
    </select>
</mapper>
