<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenjun.busines.system.mapper.RoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.wenjun.busines.system.pojo.RoleMenu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="roleId" property="roleId" jdbcType="VARCHAR" />
    <result column="menuId" property="menuId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleId, menuId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_role_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_role_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wenjun.busines.system.pojo.RoleMenu" >
    insert into t_role_menu (id, roleId, menuId
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wenjun.busines.system.pojo.RoleMenu" >
    insert into t_role_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        roleId,
      </if>
      <if test="menuId != null" >
        menuId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wenjun.busines.system.pojo.RoleMenu" >
    update t_role_menu
    <set >
      <if test="roleId != null" >
        roleId = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        menuId = #{menuId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wenjun.busines.system.pojo.RoleMenu" >
    update t_role_menu
    set roleId = #{roleId,jdbcType=VARCHAR},
      menuId = #{menuId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>